# Default ignored files
/.idea/shelf/
/.idea/workspace.xml
/target
# Datasource local storage ignored files
/../../../../../../:\Users\Admin\IdeaProjects\poker\.idea/dataSources/
/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/.idea/httpRequests/